/* Color Palette */
/* blu: #3161E0;
beige:#F6F6F6;
nero:#23272A; */

/* Reset */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* Utils */
.flex{
    display: flex;
}

.container{
    margin: 0 auto;
}

header{
    min-height: 400px;
    background-color: #3161E0;
    margin-bottom: 30px;
}


.mainbar{
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 15px;

}

.mainbar-box-img, .mainbar-box-button{
    width: 200px;
    height: 100px;
    background-color: pink;
}

.mainbar-box-nav{
    width:580px;
    height: 100px;
    background-color: purple;
    margin: 0 10px;
}

.header-box{
    width: 700px;
    min-height: 150px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 30px;
}

.header-button{
    margin-left: 20%;
    margin-top: 10px;
}

.main-img, .main-text{
    width: 300px;
    min-height: 300px;
    
}

.mainbox{
    width: 1000px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.main-img{
    background-color: cyan;
    margin-right: 30px;
}

.main-text{
    background-color: red;
}

.beige{
    background-color:#f6f6f6 ;
}

.text-center{
    text-align: center;
    margin-bottom: 15px;
}

.last-main-img{
    margin: 0 auto;
    background-color: cyan;
    min-height: 300px;
    margin-bottom: 30px;
}

.img-jpeg{
    margin: 0 auto;
    width: 200px;
    height: 50px;
    background-color: yellow;

}

.main-button{
    margin-left: 47%;
    margin-top: 15px;
}